* {
  border: 0;
  margin: 0;
  color: #FFF;
  text-shadow: -1.642px 2.458px 0.816px rgba(0, 0, 0, 0.10);
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
}

/*General css */



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(249deg, #a8c8ed 0%, #7673dc 100%);
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 90px;
  padding: 60px;
}



.left-side,.right-side{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 40px;
  font-size: 40px;
  
}


/*styling the the search area 
possibilities include search html or textarea like  google will apply this some time later. 

*/

.right-side{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 40px;
}


.search-input{
  font-size: 40px;
  text-align: center;
  color: white;
  height: 50px;
  border-radius: 12.234px;
  border: 0.306px solid rgba(255, 255, 255, 0.20);
  background: rgba(217, 217, 217, 0.10);
  box-shadow: 0px 1.223px 7.34px -0.306px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7.646177291870117px);
}

/*changing the placeholder text */

input::placeholder{
  color: white;
  font-family:Inter;
}


.save-button{
  width: 300px;
  height: 50px;
  font-size: 40px;
  border-radius: 12.234px;
  border: 0.306px solid rgba(255, 255, 255, 0.20);
  background: rgba(217, 217, 217, 0.10);
  box-shadow: 0px 1.223px 7.34px -0.306px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(7.646177291870117px);
}


